* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
}


header {
    text-align: center;
}

.logo-header {
    width: 100px;
    margin-top: 1rem;
    
}

nav ul {
    list-style: none;
    padding: 0;
    padding-bottom: 1rem;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    display: inline-block;
    font-size: 14px;
}

/* Kilde: https://stackoverflow.com/questions/43597768/html-how-to-bold-navigation-bar-text */
ul #navigation, .home, .portfolio, .about {
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-color: #e6bd43;
    text-decoration-thickness: 2px;
}

main {
    text-align: center;
}

.home{
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration: color(#e6bd43);
}


.placehold, .placehold-artikkel{
    width: 350px;
    padding-top: 1rem;
}

/* Kilde: https://www.w3schools.com/css/css_image_transparency.asp*/
.background {
    position: relative;
    padding: 1rem 0;
    max-width: 100%;
}

.background::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    background-image: url(img/pen-4337524_1280.jpg);
}

.about-article {
    margin: 30px;
    padding: 30px;
    background-color: #ffffff;
    border: 1px transparent;
    opacity: 0.7;
    margin-top: 1rem;
}

/*.about-article::before {
    content: '';
    position: absolute;
    background-position: top center;
    opacity: 0.50;
}*/

.about-article h1 {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}

.about-article p {
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}

.get-in-touch-btn {
    position: relative;
    display: inline-block;
    background-color: #e6bd43;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 1rem;
    margin: 0.5rem;
    width: max-content;
    margin-top: 30px;
}

hr {
    background-color: #e6bd43;
    border-color: #e6bd43;
    border-style: none;
    width: 78%;
    height: 3px;
}

.portfolio-img {
    position: relative;
    padding: 1rem 0;
    height: 300px;
}

/* Kilde: https://coder-coder.com/background-image-opacity/ */
.portfolio-img::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("img/pen-4337524_1280.jpg");
    background-size: cover;
    opacity: 0.50;
}

.portfolio-img h1 {
    position: relative;
    font-weight: bold;
    padding-top: 20%;
}

.branding {
    padding: 1rem;
}

#branding h2, #design h2, #development h2 {
    text-align: justify;
    padding-left: 3rem;
    font-size: 18px;
}

.explore-h {
    text-align: justify;
    padding-left: 3rem;
}

/*#explore h3, #branding h3, #design h3, #development h3 {
    display: flex;
    flex-direction: column;
    text-align: center;
}*/ 

.branding-btn, .design-btn, .development-btn {
    display: grid;
    grid-template-columns: auto;
    margin: 1rem;
    gap: 1rem;
    text-decoration: none;
    color: black;
    width: fit-content;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 0.5rem;
}

li {
    list-style: none;
}

.compeling-headline {
    position: relative;
    align-items: center;
    padding: 1rem 0;
}

/* Kilde: https://coder-coder.com/background-image-opacity/ */
.compeling-headline::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("img/pen-4337524_1280.jpg");
    background-size: cover;
    background-position: top center;
    opacity: 0.50;
}

video {
    display: none;
}

.compeling-headline h1 {
    font-weight: bold;
    position: relative;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.compeling-headline p {
    position: relative;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;
}

.our-services-gold-btn {
    position: relative;
    display: inline-block;
    background-color: #e6bd43;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 1rem;
    margin: 0.5rem;
    text-align: left;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}


.enganging-subheading {
    text-align: center;
    padding: 2rem;
    padding-left: 50px;
    padding-right: 50px;
}

.enganging-subheading h2 {
    margin-left: 20px;
    margin-right: 20px;
}

.about-our-company {
    background-color: #e6bd43;
    padding-bottom: 20%;
}

.placehold-about-our-company {
    padding-top: 2rem;
    display: inline;
    width: 80%;
}

.about-our-company h2 {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 2rem;
    text-align: left;
    margin-top: 30px;
    margin-left: 50px;
}

.about-our-company-btn {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-style: solid;
    padding: 1rem;
    margin-right: 14%;

}

.about-our-company p {
    line-height: 1.6;
    text-align:left;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10%;
}

.our-services-header {
    font-size: 20px;
    font-weight: bold;
    padding-top: 1rem;
}

#our-services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    padding-top: 1rem;
}

.contact {
    background-color: #e6bd43;
    font-weight: bold;   
}

.fa-solid {
    font-size: 25px; 
}

.clients {
    background-color:#e6bd43;
    padding: 2rem;
}
    
.clients-logo {
    padding: 1rem;
}

.sign-up-newsletter {
    background-color: whitesmoke;
    padding: 2rem;
}

.sign-up-newsletter h3 {
    font-size: 20px;
}

.sign-up-btn {
    background-color: #e6bd43;
    color: black;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border-style: none;
}

.sign-up-email-btn {
    background-color: #fff;
    width: 200px;
    height: 50px;
    border-style: none;
    padding-left: 1rem;
}

.contact-us {
    background-color: whitesmoke;
}

/* Kilde: https://www.w3schools.com/css/tryit.asp?filename=trycss_forms */
input[type=text], textarea { 
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

.send-msg-btn {
    background-color: #e6bd43;
    color: black;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border-style: none;
}

.contact-icons {
    list-style: none;
    text-align: left;
    padding: 1rem;
    font-size: 15px;
}

#subject, #name, #message {
    border-style: none;
    width: 400px;
}

.contact-info-h {

}

.contact-icons li{
    margin: 1rem;
    margin-left: 2rem;
}

.fa-location-pin, .fa-phone, .fa-envelope {
    color: #252525; 
    padding-right: 1rem;
}

.contact-us h3 {
    text-align: center;
    font-size: 18px;
    padding-top: 1rem

}
.contact-us h4 {
    text-align: justify;
    padding-left: 3rem;
    font-size: 18px;
    padding-bottom: 1rem
}

.contact-us p {
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;  
}


footer {
    text-align: center;
    background-color: #252525;
    padding: 2rem;
}

.copyrights {
    color: #fff;
    font-weight: 100;
    font-size: 15px;
}

footer a {
    color: #fff;
    margin: 0.5rem;
    font-size: 30px;   
}

footer li{
    display: inline-block;
}

footer ul {
    margin: 0;
    padding: 0;
}

.footer-logo {
    width: 120px;
}

iframe {
    width: 100%;
}


#scroll-btn { /* Kilde: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top */
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px;
  }
  

@media only screen and (min-width: 600px) { 

    #grid-container {
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    header {
        grid-area: header;
    }
    
    main {
        grid-area: main;
    }


    footer {
        grid-area: footer;
    }

    header ul {
        display: flex;
        flex-direction: row;
    }

    header nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem;
    }

    .logo-header {
        margin: 1rem;
        width: 100px;
    }

    .portfolio-img h1 {
        position: relative;
        padding-top: 100px;
    }

    .about-article {
        margin-left: 40%;
        background-color: #ffffff;
        border: 1px transparent;
        opacity: 0.7;
        margin-top: 1rem;
    }

    .get-in-touch-btn {
        position: relative;
        display: inline-block;
        background-color: #e6bd43;
        font-weight: bold;
        color: black;
        text-decoration: none;
        padding: 1rem;
        margin: 0.5rem;
        margin-right: 65%;
        width: max-content;
    }

    .contact:hover, .our-services-gold-btn:hover, .about-our-company-btn:hover, .sign-up-btn:hover, .branding-btn:hover, .design-btn:hover, .development-btn:hover, .get-in-touch-btn:hover, .send-msg-btn:hover{
        background-color: #252525;
        color: #e6bd43;
    }

    .our-services {
        display: flex;
        flex-direction: row;
        padding: 2rem;
        justify-content: space-around;
    }

    .placehold-about-our-company {
        width: 400px;
        float: left;
        box-sizing: border-box;
        text-align: justify;
        padding: 20px;
    }

    .about-our-company h2 {
        padding-top: 8%;
    }

    .explore-list {
        display: flex;
        flex-direction: row;
    }

    figure {
        position: relative;
        overflow: hidden;
        width: 100vw;
        height: 50vh;
        margin: 0 auto;

    }

    .video {
        position: absolute;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        height: auto;
    }

    .compeling-headline {
        position: absolute;
        top: 200px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        align-items: center;
        padding: 1rem 0;
    }

    /* Kilde: https://coder-coder.com/background-image-opacity/ */
    .compeling-headline::before {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: url(img/mountains.mp4);
        background-size: cover;
        background-position: top center;
        opacity: 0.50;
    }

    #branding {
        display: inline-block;
        max-width: 692px;
    }

    .form {
        margin-bottom: 2rem;
    }

    .flex-container {
        display: grid;
        grid-template-columns: auto auto auto;  
        justify-content: space-around;
    }

    .box-branding {
        display: row;
        justify-items: center;
    }

    .box-development {
        flex-direction: row;
        justify-content: space-around;
    }

    .box-design {
        flex-direction: row;
        justify-content: space-around;
    }

    iframe {
        width: 100%;
    }

    /*Kilde: https://www.w3schools.com/howto/howto_css_zoom_hover.asp */
    .placehold {
        transition: .5s;
    }

    .placehold:hover {
        transform: scale(1.5);
    }

    footer ul li{
        display: inline-block;
        align-items: center;
        padding: 1rem;
        margin: 0;
    }

    footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .footer-logo {
        margin: 1rem;
        width: 100px;

    }

    .fa-brands {
        margin: 0;
    }

    }
    